.center{display:table-cell;vertical-align:middle;text-align:center;}
body{margin:0;padding:0;line-height:1.5;background:white;font-size:85%;color:#222;background:#fff;font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;}
pre,.code{font-family:Consolas,"Liberation Mono",Courier,monospace;font-size:12px;overflow-x:auto;}
.hide{display:none;}
.right{float:right !important;}
.error{color:#c10000;background:#fdecec;padding:5px;border:1px solid #c10000;}
textarea:focus,input:focus{outline:0;}
.link{color:#1aa;cursor:pointer;font-variant:small-caps;padding:2px;}.link:hover{text-decoration:underline;color:#9f82f8;}
.remove{color:#a11;}.remove:hover{color:#e00;}
.separator{color:#ccc;}.separator:after{content:"⁝";}
#header{background:#2B2A2B;color:#eee;height:30px;}#header a{color:#a0a0a0;text-decoration:none;text-shadow:1px 1px #000;}#header a:hover{color:#ccc;}
#header .logo{float:left;height:30px;cursor:pointer;background:#006600;padding:0 7px;margin-right:7px;display:table;text-shadow:1px 1px #000;}#header .logo b{display:table-cell;vertical-align:middle;text-align:center;}
#header li{padding:0 3px;}
#header .border{border-right:1px solid #555;}
#header .slogan{color:#9f82f8;}
#container{width:945px;margin:0 auto;}
button.yes,button.cancel{border:1px solid #999;border-radius:4px;-moz-border-radius:4px;margin-right:2px;}button.yes:hover,button.cancel:hover{box-shadow:0px 0px 2px #159;}
button.yes{background-color:#fcc;}
ul.links{padding:0;margin:0;list-style-type:none;}ul.links li{float:left;display:table;height:30px;text-overflow:ellipsis;}ul.links li span{display:table-cell;vertical-align:middle;text-align:center;padding:0 3px;}
ul#list{padding:0;margin:0;list-style-type:none;}ul#list .boxen{margin-top:10px;}
ul#list li.box{width:295px;max-height:200px;float:left;margin-right:7px;margin-bottom:15px;padding:3px;border:1px dashed #ccc;cursor:pointer;}ul#list li.box:hover{border:1px solid #aaa;}
ul#list li.box pre{line-height:1.1;}
ul#list strong{background:#e5ecf9;border-radius:5px;-moz-border-radius:5px;display:block;height:23px;overflow:hidden;text-align:center;padding:3px 3px;margin-bottom:3px;color:#555;text-shadow:1px 1px #fff;}ul#list strong small{float:left;font-variant:small-caps;padding:1px;}
ul#list strong .remove{position:relative;float:right;margin-right:5px;color:#aaa;}ul#list strong .remove:hover{cursor:pointer;color:#a00;}
ul#list pre{padding:3px;margin:0;height:100px;}
.editable:hover{background:#ffc;cursor:pointer;border:1px dashed #ccc;}
.scroll{overflow:auto;}
.scroll::-webkit-scrollbar{width:8px;height:8px;}
.scroll::-webkit-scrollbar-track{background-color:rgba(113, 112, 107, 0.1);-webkit-border-radius:5px;}
.scroll::-webkit-scrollbar-thumb:vertical{background-color:rgba(0, 0, 0, 0.2);-webkit-border-radius:6px;}
.scroll::-webkit-scrollbar-thumb:vertical:hover,.scroll::-webkit-scrollbar-thumb:horizontal:hover{background-color:rgba(0, 0, 0, 0.3);}
.scroll::-webkit-scrollbar-thumb:horizontal{background-color:rgba(0, 0, 0, 0.2);-webkit-border-radius:6px;}
.editor textarea{border:1px solid #aaa;background:#ffe;margin-bottom:0;width:937px;height:250px;clear:both;padding:3px;resize:vertical;font-family:Consolas,"Liberation Mono",Courier,monospace;font-size:12px;}
.editor button{font-size:120%;font-weight:bold;}
.editor .cancel{color:#666;text-decoration:underline;cursor:pointer;}
.toolbar{padding:3px 0;height:30px;background:#f5f5f5;border-bottom:1px dotted #ccc;}.toolbar .title{font-size:14px;font-weight:bold;padding:0 3px;}.toolbar .title input{border:1px solid #ddd;padding:1px 2px;font-size:14px;font-weight:bold;}
.toolbar .date{color:#888;font-size:.9em;}
.codebar{width:945px;clear:both;margin:3px 0;padding:0;}.codebar small{border-radius:8px;-moz-border-radius:8px;font-variant:small-caps;font-size:1em;border:1px solid #e5ecf9;background:#e5ecf9;color:#333;text-shadow:1px 1px #fff;padding:0 3px;}
table input{border:1px solid #ccc;padding:2px;}
.pln{color:#000000;}
@media screen{.str{color:#008800;} .kwd{color:#000088;} .com{color:#880000;} .typ{color:#660066;} .lit{color:#006666;} .pun,.opn,.clo{color:#666600;} .tag{color:#000088;} .atn{color:#660066;} .atv{color:#008800;} .dec,.var{color:#660066;} .fun{color:#ff0000;}}@media print,projection{.str{color:#006600;} .kwd{color:#006;font-weight:bold;} .com{color:#600;font-style:italic;} .typ{color:#404;font-weight:bold;} .lit{color:#004444;} .pun,.opn,.clo{color:#444400;} .tag{color:#006;font-weight:bold;} .atn{color:#440044;} .atv{color:#006600;}}pre.prettyprint{padding:2px;border:1px solid #888888;}
ol.linenums{margin-top:0;margin-bottom:0;}
.pln{color:#333333;}
@media screen{.str{color:#dd1144;} .kwd{color:#44c;} .com{color:#999988;} .typ{color:#445588;} .lit{color:#445588;} .pun{color:#333333;} .opn{color:#333333;} .clo{color:#333333;} .tag{color:navy;} .atn{color:teal;} .atv{color:#dd1144;} .dec{color:#333333;} .var{color:teal;} .fun{color:#990000;}}@media print,projection{.str{color:#006600;} .kwd{color:#006;font-weight:bold;} .com{color:#600;font-style:italic;} .typ{color:#404;font-weight:bold;} .lit{color:#004444;} .pun,.opn,.clo{color:#444400;} .tag{color:#006;font-weight:bold;} .atn{color:#440044;} .atv{color:#006600;}}pre.prettyprint{background:white;font-family:Menlo,"Bitstream Vera Sans Mono","DejaVu Sans Mono",Monaco,Consolas,monospace;font-size:12px;line-height:1.5;border:1px solid #cccccc;padding:10px;}
ol.linenums{margin-top:0;margin-bottom:0;}
li.L0,li.L1,li.L2,li.L3,li.L4,li.L5,li.L6,li.L7,li.L8,li.L9{}
li.L1,li.L3,li.L5,li.L7,li.L9{}
